.back-img {
    filter: grayscale(100%);
    background-image: url(https://images.unsplash.com/photo-1524616212714-c20fa6fbeb1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2604&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}